
/* Lista de Produtos e Recomendados */
.recomendados, .lista-produtos {
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.recomendados > h2, .lista-produtos > h2 {
    font-weight: bold;
}
/* Lista de Produtos e Recomendados */

/* Tablet */
@media screen and (max-width: 800px) {
    .recomendados, .lista-produtos {
        overflow: auto;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap;
    }

    .card {
        float: none;
        display: inline-block;
    }
}
/* Tablet */