* {
    font-family: sans-serif, Times, serif;
}

body {
    margin: 0px;
}

/* Header */
.navbar-mobile {
    display: none;
}

.sidebar  {
    width: 0px;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    border-style: none solid none none;
    border-width: 2px;
    border-color: #111;
}

.sidebar .closebtn {
    position: absolute;
    top: 50%;
    right: -1px;
    font-size: 36px;
    cursor: pointer;
    padding-right: 10px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px 0px 0px 10px;
}

.sidebar > .sidebar-item {
    padding: 8px 8px 8px 20px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    display: block;
    transition: 0.3s;
    border-style: solid none solid none;
    border-width: 1px;
}

.sidebar > .sidebar-subitens {
    display: none;
}

.sidebar > .sidebar-subitens a {
    padding: 8px 8px 8px 40px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #e5e5e5;
    color: black;
    display: block;
    transition: 0.3s;
    border-style: solid none solid none;
    border-width: 1px;
}

.navbar {
    background-color: gray;
    display: flex;
}

.navbar img, .navbar-mobile img {
    width: 50px;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar div, .navbar-mobile div {
    padding: 5px;
    margin: auto;
}

.input-container {
    display:inline-block;
    position: relative;
}

.input-container > i {
    position: absolute;
    padding: 4px;
    font-size:20px;
}

.final {
    right: 10px;
}

.navbar input {
    border-radius: 50px;
    border: 0px;
    height: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
/* Header */

/* Slides */
.slide-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.slide > img {
    width: 100%;
}
/* Slides */

/* Novidades */

.novidades {
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.novidades > h2 {
    font-weight: bold;
}
/* Novidades */

/* Populares */
.populares {
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.populares > h2 {
    font-weight: bold;
}

.categorias-populares {
    margin-bottom: 10px;
    display: flex;
}

.categorias-populares > div {
    margin: auto;
}

.categorias-populares a {
    color: black;
    text-decoration: none;
}
/* Populares */

/* Card */
.card {
    float: left;
    width: 210px;
    text-align: center;
}

.card > img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.card > p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card {
    color: black;
    text-decoration: none;
}
/* Card */

/* Footer */
.footer-mobile {
    display: none;
}

footer > div {
    height: 200px;
    bottom: 0;
    display: flex;
}

footer > div > div {
   margin-left: 20px;
   margin-right: 40px;
}

footer > div ul {
    margin-top: 5px;
    list-style-type: none;
    padding-left: 0px;
}

footer > div a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}
/* Footer */

/* Tablet */
@media screen and (max-width: 800px) {
    /* Header */
    header > .navbar {
        display: none;
    }

    header > .navbar-mobile {
        display: flex;
    }
    /* Header */

    /* Populares */
    .categorias-populares {
        display: none;
    }
    /* Populares */

    /* Footer */
    footer > .footer {
        display: none;
    }

    footer > .footer-mobile {
        display: flex;
    }

    .footer-mobile > div {
        margin: auto;
        margin-top: 0px;
        margin-left: 10px;
    }
    /* Footer */

    .novidades, .populares {
        white-space: nowrap;
    }

    .card {
        float: none;
        display: inline-block;
    }
}
/* Tablet */

/* Mobile */
@media screen and (max-width: 500px) {
    /* Novidades */
    .novidades {
        display: none;
    }
    /* Novidades */

    /* Populares */
    .categorias-populares {
        display: none;
    }
    /* Populares */
}

/* Mobile */