/* Header */
header {
    background-color: gray;
    display: flex;
}

header > img {
    width: 50px;
}
/* Header */

/* Novidades */
.novidades > h2 {
    font-weight: bold;
}
/* Novidades */

/* Populares */
.populares > h2 {
    font-weight: bold;
}
/* Populares */

/* Card */
.card > img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}
/* Card */
